.login{/**样式的名字 对应class=xxx**/
    position:fixed;/**绝对定位**/
    left:50%;/**左边50%**/
    top:20%;/**顶部50%**/
    margin-top:-50px;/**上移-50%**/
    margin-left:-100px;/**左移-50%**/
    z-index:9999;
    background-image: linear-gradient(to right , #7A88FF, #7AFFAF);
    }